<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Exercise to display Pokemon images">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='index.js')}}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
  <div class='container'>
    <h1 class='white'>Notes</h1>
    <div class='input_form'>
      <div class='row'>
        <form class='create' method='post'>
          <div class='form-group'>
            <div class='text-right col-md-2 white'>
            <label for='subject'>Subject:</label>
            </div>
            <div class='text-center col-md-3'>
            <input id="subject" placeholder="type a note subject here..." name='subject'></input>
            </div>
            <div class='col-md-1'>
              <button id='create' class='btn btn-success btn-block' formaction='/notes/create'>Create</button>
            </div>
          </div>
        </form>
        <form class='search' method='GET'>
          <div class='text-right col-md-2 white'>
            <label for='search'>Subject Search:</label>
          </div>
          <div class='text-center col-md-3'>
            <input id="search" placeholder="filter" name='filter'></input>
          </div>
          <div class='col-md-1'>
            <button id='search' class='btn btn-primary btn-block' formaction='/search' type='submit'>Search</button>
          </div>
        </form>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-1'><button class='btn-xs btn-primary text-left' id='left'><<<</button></div>
      <div class='col-md-10 text-center white'><marquee>3M Post-It Notes</marquee></div>
      <div class='col-md-1'><button class='btn-xs btn-primary text-right' id='right'>>>></button></div>
    </div>
    <div id='notes' class='notes'>
      <div class='postit'>
        <div class='postittext'>
          <span class='h5 black'>:</span>
        </div>
        <div class='x_del'>X</div>
      </div>
      <div class='postit'>
        <div class='postitinput'>
          <form>
            <input name="subject" class='h5 black' value='Subject:' /></input>
            <textarea name='text' placeholder='note...'></textarea>
            <button class='add' type='submit'></button>
          </form>
        </div>
        <div class='x_del'>X</div>
      </div>
    </div>
  </div>
</body>
</html>
