.postit {
  background-color: lightyellow;
  width: 20rem;
  height: 17rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding: 1rem;
  border: .1rem solid yellow;
  display: inline-block;
}
.notes {
  display: inline-block;
  margin-bottom: 3rem;
}
.input_form {
  margin-top: 3rem;
}
