<!DOCTYPE html>
<html>
<head>
  <title>Ninja Gold</title>
  <meta charset="utf-8">
  <meta name="description" content="Ninja Gold lesson within Django">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/static/ninjagold/normalize.css">
  <link rel="stylesheet" type="text/css" href="/static/ninjagold/style.css">
</head>
<body>
  <div id="wrapper" class="container">
    <h1 class="ninja text-center">Ninja Gold</h1>
    <div class="top">
      <div class="score">
        <h3>Your Gold: {{request.session.score}}</h3>
      </div>
      {% for place in locations %}
      <div class="rgt_jobs text-center">
        <div class="vd1t">
        </div>
        <h4>{{place.title}}</h4>
        <p>{{place.description}}</p>
        <form>
          {% csrf_token %}
          <input type='hidden' name="hidden" value='{{place.name}}'/>
          <input class="rgt_img" alt="Farm!" formaction="{{place.path}}" formmethod="post" type='submit' value="Do It!"></input>
        </form>
        <div class="vd1b">
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="bottom">
      <table width="100%">
        <thead>
          <td align="left" width="20%">Timestamp</td>
          <td align="left" width="55%">Activity</td>
          <td align="center" width="10%">Reward</td>
          <td align="center" width="15%">Ledger <br />Balance</td>
        </thead>
        <tbody>
          {% for line in request.session.lines reversed %}
          <tr>
            <td width="20%"><span class="text-left">{{line.time}}</span></td>
            <td width="55%"><span class="text-left">{{line.activity}}</span></td>
            <td width="10%" align='right'>
              <span class="text-right"
              {% if line.reward < 0 %} style="color: red;"{% else %} style="color: green;"{% endif %}
              >{{line.reward}}</span>
            </td>
            <td width="15%" align='right'>
              <span class="text-right"
              {% if line.balance < 0 %} style="color: red;"{% else %} style="color: green;"{% endif %}
              >{{line.balance}}</span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
